body{
    background: url("fondo.jpg");
    border: none;
}

div{
    text-align: center;
}

h1{
    color: blue;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-shadow: 0px 0px 3px black;
}

#spanId{
    font-size: 18px;
    margin: 50px;
    text-shadow: 0px 0px 2px black;
}

#thirdDiv{
    padding: 50px;
    border: 1px solid black;
    height: 600px; 
    width: 500px;
    background: orange;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px black;
}

#thirdDiv ul{
    list-style: none;
    padding: 0px;
}

#thirdDiv ul li:last-child{
    margin-top: 30px;
}

.divClass #enlace{
    color: green;
    font-size: 30px;
    font-weight: bold;
}

.divClass #enlace:hover{
    color: darkgreen;
    text-shadow: 0px 0px 2px green;
}

img{
    width: 400px;
}

.article{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0px auto;
    align-items: center;
    border: 2px solid black;
    background: #ccc;
    box-shadow: 0px 0px 3px black;
}